header.header
    .header__container
        .socials.socials--header
            include socials.pug
        .hamburger
            button(type="button").hamburger__btn
                - for (var i = 0; i < 3; i++) 
                    .hamburger-menu-link__line
            nav.hamburger__menu
                ul.hamburger__list
                    each item in menuItems
                        li.hamburger__item
                            a(href=`${item.link}` class=`.hamburger__link--${item.mod}`).hamburger__link.title #{item.title}
