.section.hero
    .hero__bg
        img(src="img/bg/bg_header.jpg" alt="Горный ландшафт").hero__bg-img
    svg.hero__bg-title
        use(xlink:href="img/icons/symbol/sprite.svg#portfolio_header")
    .hero__content
        .hero__owner.owner
            .owner__photo
                img(src="img/content/avatar.jpg" alt="Веб-разработчик").owner__img
            .owner__title Алена Сафьянникова
            span.owner__description Личный сайт веб-разработчика
    button(type="button").hero__arrow-btn
        svg.hero__arrow-down
            use(xlink:href="img/icons/symbol/sprite.svg#arrow_down")
