include ../common/variables.pug

header.header
    .header__container
        .socials.socials--header
            include ../common/socials.pug
        .hamburger
            a.hamburger-menu-link(href="#")
                - for (var i = 0; i < 3; i++)
                    .hamburger-menu-link__line
                