ul.works__list
    li.works__item
        .works__block
            .works__description
                .subtitle.subtitle--works "Лендинг для магазина бургеров Mr.Burger"
                .works__techs "HTML5, CSS3, JavaScript&jQuery, Ajax, Gulp, Git"
                a(href="https://safyann.github.io/Burgers/" target="_blank").works__link
                    svg.works__link-icon
                        use(xlink:href="img/icons/symbol/sprite.svg#link")
                    .works__link-text Посмотреть сайт
        .works__example
            .works__photo
                img(alt="Работа" src="img/content/works/burgers.png").works__img
        .works__btns        
            button(type="button").works__btn.works__btn--next
                img(src="img/content/works/coworking.png" alt="Следующая работа").works__img.works__img--btn.slide-next
                svg.works__btn-icon
                    use(xlink:href="img/icons/symbol/sprite.svg#portf_arrow_down")
            button(type="button").works__btn.works__btn--prev
                img(src="img/content/works/portfolio.png" alt="Предыдущая работа").works__img.works__img--btn.slide-prev
                svg.works__btn-icon
                    use(xlink:href="img/icons/symbol/sprite.svg#portf_arrow_up")